numpy
sphinxcontrib-napoleon
sphinx_rtd_theme
sphinx_gallery
sphinx_design
matplotlib
git+https://github.com/Schirni/InstrumentToInstrument.git@development
lightning
sunpy_soar
sunpy
google-cloud-storage